.ListHeader {
  flex: 0 0 auto;
  padding: 10px 8px;
  position: relative;
  min-height: 20px;
}

.ListHeader__name {
  background: transparent;
  width: 100%;
  border-radius: 3px;
  box-shadow: none;
  font-weight: 600;
  margin: -4px 0;
  height: 28px;
  min-height: 20px;
  padding: 4px 8px;
  resize: none;
  max-height: 256px;
  border: none;
}
